* {
  box-sizing: border-box;
}

#app {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url(../background_photo_desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#jammming {
  letter-spacing: 0.2em;
  font-size: 3.6vh;
  font-weight: 800;
  font-style: italic;
}

main {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  section {
    width: 50%;
  }
}
