* {
  box-sizing: border-box;
}

#app {
  text-align: center;
}

#jammming {
  letter-spacing: 0.2em;
  font-style: italic;
}

main {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

header {
  width: 100%;
}
