#track {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 1em;
  margin-block: 0.5em;
  background-color: rgba(240, 235, 235, 0.7);
}

#track_info {
  width: 80%;
  margin-right: 5%;
}
