#track {
  display: flex;
  align-items: center;
  border: solid black 1px;
  padding: 1em;
  margin-block: 0.5em;
  background-color: rgb(233, 224, 224);
}

#track_info {
  width: 80%;
  margin-right: 5%;
}
