#track {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 1em;
  margin-block: 0.5em;
  background-color: rgba(244, 236, 236, 0.865);
  color: black !important;
}

#track_info {
  width: 80%;
  margin-right: 5%;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  #track {
    width: 80%;
  }

  #track p {
    letter-spacing: normal !important;
  }

  #track_info {
    width: 50%;
  }
}
